.profile-card{
    border: 2px solid #ccc;
    padding: 20px;
    margin: 20px;

    width: 300px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.profile-card img {
    width: 300px;
    height: 450px;
}
